<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/create.css"/>

</head>
<body>
    <div class="topnav">
        <!-- <a class="active" href="showcar">สินค้า</a> -->
        <a href="admincar">เพิ่มสินค้า</a>
      </div>
    <h1>hey</h1>
</body>
</html>