<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/create.css"/>
</head>
<body>
    <div class="form-container">
    <form action="/createcar" method="post" enctype="multipart/form-data">
        licenseplate<br><input type="text" name="licenseplate"><br>
        year<br><input type="text" name="year"><br>
        capacity<br><input type="text" name="capacity"><br>
        priceperday<br><input type="text" name="priceperday"><br>
        insurance_charge<br><input type="text" name="insurance_charge"><br>
        brand<br><input type="text" name="brand"><br>
        color<br><input type="text" name="color"><br>
        Image<br><input type="file" name="Image"><br>
        <input type="submit" value="ok"><br>
        <a href="/">back</a>
    </form></div>
</body>
</html>