<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลงทะเบียน</title>
    <link rel="stylesheet" href="../css/createuser.css"/>

</head>
<body>
    <div class="form-container">
        <h2 class="form-heading">ลงทะเบียน</h2>
    
        <form action="/createuser" method="post">
<br>
<!-- username : few
    password : few -->
<!-- ฟิวส์ : เข้าได้ไหม
    ตุ๊ก : ได้บอกด้วย
    บอล : 
--> 
<center>
    <input type="text" id="username" name="drivinglicense" class="input-field" placeholder ="รหัสใบขับขี่" required>
    <textarea id="address" name="address" placeholder="ที่อยู่" class="input-field" required></textarea>
    <input type="text" id="username" name="email" class="input-field" placeholder ="อีเมล" required>
    <input type="text" id="password" name="phone" class="input-field" placeholder ="เบอร์โทร" required>
    <input type="text" id="username" name="username" class="input-field" placeholder ="ชื่อผู้ใช้งาน"required>     
    <input type="password" id="password" name="password" class="input-field" placeholder ="รหัสผ่าน" required>
            <input type="submit" value="ลงทะเบียน" class="btn">
            <p>เป็นสมาชิกอยู่แล้ว? <a href="/">เข้าสู่ระบบ</a></p>
        </form>
   
        <p class="error-message"> </p>
    </div> </center>

</body>
</html>
