<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../css/create.css"/> -->

</head>
<body>

    <h1>Car Rental System</h1>
    
    <table>
        <tr>
            <th>User Id</th>
            <th>License Plate</th>
            <th>Year</th>
            <th>Capacity</th>
            <th>Price Per Day</th>
            <th>Insurance Charge</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Image</th>       
        </tr>
    </table>

    <!-- Add your other content or links here -->
    <a href="/payment">buy</a><br>
    <a href="/logout">Log Out</a><br>
    <a href="/createcar">Create Car</a>
</body>
</html>