<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/receipt.css"/>

</head>
<body>
    <div class="topnav">
        <a class="active" href="showcar">สินค้า</a>
        <a href="payment">การชำระเงิน</a>
      </div>

<center>
    
    <h1>ชำระเงิน <%= price %></h1>

    <form action="/receipt/:id" method="post"></form>
    <a href="/showcar"> <input type="button" value="Back" class="btnB"></a> 
</center>
</body>
</html>