<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../css/create.css"/> -->

</head>
<body>

    <h1>receipt</h1>
    rentalid<br>
    userid<br>
    carid<br>
    paymentid<br>
    checkindate<br>
    checkoutdate<br>
    rentaltotal<br>


    <!-- Add your other content or links here -->
    <a href="/">showcar</a><br>
    <a href="/rental">back</a>
</body>
</html>